<main class="content">
  <div class="container p-0">

  <h1 class="h3 mb-3">Messages</h1>

  <div class="card">
    <div class="row g-0">
      <div class="col-12 col-lg-12 col-xl-12">
        <div class="py-2 px-4 border-bottom d-none d-lg-block">
          <div class="d-flex align-items-center py-1">
          </div>
        </div>

        <div class="position-relative">
          <div class="chat-messages p-4">
        <div *ngFor="let message of messages">
          <div class="chat-message-right pb-4" *ngIf="myMessage(message); else elseBlock">
            <div>
              <img *ngIf="NoAvatarForUser(message.sender.uid); else elseAvatar" src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="" width="40" height="40">
              <ng-template #elseAvatar>
                <img [src]="avatarUtilizatori[message.sender.uid]" class="rounded-circle mr-1" alt="sent" width="40" height="40">
              </ng-template>
              <div class="text-muted small text-nowrap mt-2">Tu</div>
            </div>
            <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
              <div class="font-weight-light">{{getFormatedDate(message.sentAt)}}</div>
               {{ message.text }}
            </div>
          </div>
          <ng-template #elseBlock>
            <div class="chat-message-left pb-4">
              <div>
                <img *ngIf="NoAvatarForUser(message.sender.uid); else elseAvatar" src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="" width="40" height="40">
                <ng-template #elseAvatar>
                  <img [src]="avatarUtilizatori[message.sender.uid]" class="rounded-circle mr-1" alt="sent" width="40" height="40">
                </ng-template>
                <div class="small text-nowrap mt-2">{{message.sender.getName()}}</div>
              </div>
              <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                <div class="font-weight-light">{{getFormatedDate(message.sentAt)}}</div>
                {{ message.text }}
              </div>
            </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

        <div class="flex-grow-0 py-3 px-4 border-top">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Type your message" #messageText>
            <button (click)="sendMessage(messageText.value);  messageText.value = ''" class="btn btn-primary">Send</button>
          </div>
        </div>
    </div>
  </div>
</div>
</main>