<section class="light">
	<div class="container py-2">
		<div class="h1 text-center text-dark" id="pageHeaderTitle">Co-op Fun</div>

		<article class="postcard light blue">
			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue"><a href="#">Sah</a></h1>
				<div class="postcard__subtitle small">
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Mini Sah cu setari de joc variate</div>
                <div style="text-align:center">

                            <iframe
                                style="height: 550px; overflow: hidden; width: 100%; overflow: false;"
                                src="https://playpager.com/embed/chess/index.html"
                                scrolling="no">
                           </iframe>              
                </div>
            </div>
		</article>
		<article class="postcard light blue">
			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue"><a href="#">Board Games</a></h1>
				<div class="postcard__subtitle small">
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Colectie de jocuri de masa</div>
                <div style="text-align:center">
                    <iframe src="https://vipgames.com/play/?affiliateId=embed/#/games" height="600" width="600"></iframe>
                </div>
            </div>
		</article>
        <article class="postcard light blue">
			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue"><a href="#">Maze Balls</a></h1>
				<div class="postcard__subtitle small">
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt" style="height: 20px">Maze Balls</div>
				<div>
					<iframe src="https://funhtml5games.com?embed=mazeballs" style="width:800px;height:480px;border:none display:block;  text-align:center" frameborder="0" scrolling="no"></iframe>				</div>
            </div>
		</article>
        <article class="postcard light blue">
			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue"><a href="#">Flappy Bird</a></h1>
				<div class="postcard__subtitle small">
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt" style="height: 20px">Flappy Bird</div>
				<iframe src="https://funhtml5games.com?embed=flappy"
				style="height: 550px; overflow: hidden; width: 100%; overflow: false; display:block;"
				frameborder="0" scrolling="no"></iframe>
            </div>
		</article>
	<article class="postcard light blue">
		<div class="postcard__text t-dark">
			<h1 class="postcard__title blue"><a href="#">Mario Jump</a></h1>
			<div class="postcard__subtitle small">
			</div>
			<div class="postcard__bar"></div>
			<div class="postcard__preview-txt" style="height: 20px">Mario Jump</div>
			<iframe src="https://funhtml5games.com?embed=mariojump"
						style="height: 550px; overflow: hidden; width: 100%; overflow: false; display:block; text-align:center"
			frameborder="0" scrolling="no"></iframe>
		</div>
	</article>
	</div>
</section>