<section class="light">
	<div class="container py-2">
		<div class="h1 text-center text-dark" id="pageHeaderTitle">Co-op Fun</div>

		<article class="postcard light blue">
			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue"><a href="#">Sah</a></h1>
				<div class="postcard__subtitle small">
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Mini Sah cu setari de joc variate</div>
                <div style="text-align:center">

                            <iframe
                                style="height: 550px; overflow: hidden; width: 100%; overflow: false;"
                                src="https://playpager.com/embed/chess/index.html"
                                scrolling="no">
                           </iframe>              
                </div>
            </div>
		</article>
		<article class="postcard light blue">
			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue"><a href="#">Board Games</a></h1>
				<div class="postcard__subtitle small">
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Colectie de jocuri de masa</div>
                <div style="text-align:center">
                    <iframe src="https://vipgames.com/play/?affiliateId=embed/#/games" height="600" width="600"></iframe>
                </div>
            </div>
		</article>
        <article class="postcard light blue">
			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue"><a href="#">Buuble Shooter</a></h1>
				<div class="postcard__subtitle small">
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Joc retro de relaxare</div>
                <div style="height: 480px; width: 320px;" >
                    <iframe style="height:100%;width:100%" src="http://html5gameshq.com/iframed/bubble-shooter" frameborder="0" scrolling="no"></iframe>
                  </div>
            </div>
		</article>
        <article class="postcard light blue">
			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue"><a href="#">Easter Cards</a></h1>
				<div class="postcard__subtitle small">
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Colectie de jocuri de masa</div>
                <div style="height: 600px; width: 1068px;" >
                    <iframe style="height:100%;width:100%" src="http://html5gameshq.com/iframed/easter-card-match" frameborder="0" scrolling="no"></iframe>
                    <br>
                  </div>
            </div>
		</article>
	</div>
</section>